<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-shopInformation-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">店铺所有者ID：</label>
            <div class="col-sm-8">
                <input id="ownerId" name="ownerId" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">店铺名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">省：</label>
            <div class="col-sm-8">
                <input id="province" name="province" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">市：</label>
            <div class="col-sm-8">
                <input id="city" name="city" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">区：</label>
            <div class="col-sm-8">
                <input id="borough" name="borough" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">地址：</label>
            <div class="col-sm-8">
                <input id="address" name="address" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">液化气：</label>
            <div class="col-sm-8">
                <input id="lng" name="lng" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">货币：</label>
            <div class="col-sm-8">
                <input id="lat" name="lat" class="form-control" type="text">
            </div>
        </div>
        <!-- <div class="form-group">
             <label class="col-sm-3 control-label">是否打烊（手动打烊标示）和营业时间一起使用：</label>
             <div class="col-sm-8">
                 <input id="closed" name="closed" class="form-control" type="text">
             </div>
         </div>-->
		<div class="form-group">
			<label class="col-sm-3 control-label">营业状态：</label>
			<div class="col-sm-8">
				<select class="form-control" name="closed">
					<option value="1">正常营业</option>
					<option value="0">暂停营业</option>
				</select>
			</div>
		</div>

        <div class="form-group">
            <label class="col-sm-3 control-label">营业时间：</label>
            <div class="col-sm-8">
                <input id="openTime" name="openTime"  class="form-control" type="text"placeholder="1-5|17:00-22:00，6-7|9:00-24:00 周和时间用“|”分割，周几到周几用“-”分割，多个设置用“，”分割">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商家电话：</label>
            <div class="col-sm-8">
                <input id="phone" name="phone" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商家实景照片：</label>
            <div class="col-sm-8">
                <input id="images" name="files" value="1542a085e5d58533e59d2fd2e6fc784e (1).jpeg" class="form-control"
                       type="file">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
				<select class="form-control" name="status">
                    <option value="0">冻结状态</option>
					<option value="1">正常</option>
					<option value="2">违规关闭</option>
					<option value="3">店铺到期关闭</option>
				</select>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">授权开始时间：</label>
            <div class="col-sm-8">
                <input id="authStartTime" name="authStartTime" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">授权时长：</label>
            <div class="col-sm-8">
                <input id="authLong" name="authLong" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">授权版本的ID：</label>
            <div class="col-sm-8">
                <input id="templateId" name="templateId" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">营业执照图片链接：</label>
            <div class="col-sm-8">
                <input id="businessLicense" name="files" class="form-control" type="file">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">食品安全许可证图片：</label>
            <div class="col-sm-8">
                <input id="foodLicense" name="files" class="form-control" type="file">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">卫生许可证图片：</label>
            <div class="col-sm-8">
                <input id="sanitationLicense" name="files" class="form-control" type="file">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">量化考核图片：</label>
            <div class="col-sm-8">
                <input id="assess" name="files" class="form-control" type="file">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合同ID：</label>
            <div class="col-sm-8">
                <input id="contractId" name="contractId" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/shopInformation"
    $("#form-shopInformation-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    /*	function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-shopInformation-add').serialize());
            }
        }*/
    function submitHandler() {
        $.ajax({
            url: prefix + "/add",
            data: new FormData($("#form-shopInformation-add")[0]),
            type: "post",
            contentType: false,
            processData: false,
            success: function (data) {
                $.operate.successCallback(data);
            }

        });
    }
</script>
</body>
</html>
