<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-advertise-add">
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">店铺id：</label>
            <div class="col-sm-8">
                <input id="shopId" name="shopId" class="form-control" type="text">
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">店铺名称：</label>
            <div class="col-sm-8">
                <select id="selectShop" class="form-control" name="shopId">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">广告名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" class="form-control" type="text">
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">轮播位置：</label>
            <div class="col-sm-8">
                <input id="positionId" name="positionId" class="form-control" type="text">
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">轮播位置：</label>
            <div class="col-sm-8">
                <select id="selectPosition" class="form-control" name="positionId">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图片：</label>
            <div class="col-sm-8">
                <input id="file" name="file" class="form-control" type="file">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">开始时间：</label>
            <div class="col-sm-8">
                <input id="startTime" name="startTime" class="form-control" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-8">
                <input id="endTime" name="endTime" class="form-control" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <select class="form-control" name="status">
                    <option value="1">上线</option>
                    <option value="0">下线</option>
                </select>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label">上下线状态：0->下线；1->上线：</label>
            <div class="col-sm-8">
                <input id="status" name="status" class="form-control" type="text">
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">点击数：</label>
            <div class="col-sm-8">
                <input id="clickCount" name="clickCount" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">下单数：</label>
            <div class="col-sm-8">
                <input id="orderCount" name="orderCount" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">链接地址：</label>
            <div class="col-sm-8">
                <input id="url" name="url" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input id="note" name="note" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-8">
                <input id="sort" name="sort" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/advertise"
    $("#form-advertise-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    /*    function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-advertise-add')[0]);
            }
        }*/
    function submitHandler() {

        $.ajax({
            url: prefix + "/add",
            data: new FormData($("#form-advertise-add")[0]),
            type: "post",
            contentType: false,
            processData: false,
            success: function (data) {
                $.operate.successCallback(data);
            }

        });
    }

    $(function () {
        position();
        shop();
    });

    function position() {
        $.post(prefix + "/position", function (data) {
            var sel = $("#selectPosition");
            sel.empty();
            var positions = data.rows;
            for (var index in positions) {
                var position = positions[index];
                console.info(position)
                sel.append("<option value=" + position.id + ">" + position.name + "</option>");
            }
        }, "json");
    }

    function shop() {
        $.post(prefix + "/shop", function (data) {
            var sel = $("#selectShop");
            sel.empty();
            var shops = data.rows;
            for (var index in shops) {
                var shop = shops[index];
                sel.append("<option value=" + shop.id + ">" + shop.name + "</option>");
            }
        }, "json");
    }
</script>
</body>
</html>
